<!doctype>
<html>
    <head>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.2/system.min.js"></script>
            <!-- <script type="text/javascript" src="js/lib.js"></script> -->
        </head>
    <body>
        {{body}}
    </body>
    <script type="module">
        // import('/js/booklist.js').then((_) => {
        //     console.log(_.default.findBook('ddd'))
        // })
        // System.import('/js/lib.js').then((_) => {
        //     console.log(_.default([1,2]).map(console.log))
        // })
        
    </script>

    
</html>